.wrapper
  display: flex
  flex-direction: column
  margin: 0 auto
  width: 720px
.textarea
  margin: 0 auto
  width: 700px
  height: 300px
.keyboard
  width: 660px
  margin: 0 auto
  padding: 4px
  padding-left: 0
  padding-bottom: 0
  background: #888888
  border: 3px solid #222222
  border-radius: 5px
.key
  float: left
  width: 40px
  height: 40px
  margin-left: 4px 
  background: white
  text-align: center
  transition: 0.2s ease
  cursor: pointer
  font-family: "Trebuchet MS", "Helvetica", sans-serif
  font-size: 16px
  font-weight: 600
  &:hover
    background: orange
    box-shadow: inset 0 0 0 1px gray
.row
  display: block
  width: 100%
  height: 40px
  clear: both
  margin-bottom: 4px
.hidden
  display: none
.active
  background: orange
  color: white
  box-shadow: inset 0 0 0 3px gray
.Enter
  width: 84px
.CapsLock
  width: 84px
.Backspace
  width: 84px
.ShiftRight
  width: 84px
.ShiftLeft
  width: 84px
.Space
  width: 304px