.wrapper
  display: flex
  flex-direction: column
  margin: 0 auto
  width: 820px
.textarea
  margin: 0 auto
  width: 800px
  height: 300px
.keyboard
  width: 704px
  margin: 0 auto
  padding: 5px
  padding-left: 0
  padding-bottom: 0
  background: #888888
  border: 3px solid #222222
  border-radius: 5px
.key
  width: 50px
  height: 50px
  margin-left: 10px 